.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__sxrGe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__fhfL2 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: var(--token-s1eSBoT779f_dP);
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__fhfL2 {
    width: 100%;
    min-width: 0;
  }
}
.header2:global(.__wab_instance) {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.freeBox__qMzyf {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  min-width: 0;
  padding: 107px 32px 109px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__qMzyf {
    padding-top: 87px;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox__gjB7K {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1280px;
  width: 100%;
  min-width: 0;
}
.freeBox__gjB7K > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__gjB7K > :global(.__wab_flex-container) > *,
.freeBox__gjB7K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gjB7K > :global(.__wab_flex-container) > picture > img,
.freeBox__gjB7K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__gjB7K {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__gjB7K > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__gjB7K > :global(.__wab_flex-container) > *,
  .freeBox__gjB7K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gjB7K > :global(.__wab_flex-container) > picture > img,
  .freeBox__gjB7K
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__m9AnD {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__m9AnD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__m9AnD > :global(.__wab_flex-container) > *,
.freeBox__m9AnD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m9AnD > :global(.__wab_flex-container) > picture > img,
.freeBox__m9AnD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___4V5Ki {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___4V5Ki > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___4V5Ki > :global(.__wab_flex-container) > *,
.freeBox___4V5Ki > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4V5Ki > :global(.__wab_flex-container) > picture > img,
.freeBox___4V5Ki
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__kvOys {
  margin-top: calc(0px + 20px) !important;
  margin-bottom: 0px;
  color: var(--token-tRuaC0z_hsD9IV);
  max-width: 534px;
  width: 100%;
  min-width: 0;
}
.button__tveTt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__wAuew {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__bvwY {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__hzedD {
  display: flex;
  position: relative;
  height: 400px;
}
.freeBox___1D7Dy {
  display: block;
  width: 600px;
  height: 600px;
  background: url("./images/fakurianDesignPPTwRTkvXqUnsplashjpg.jpeg") left 50% top 50% / cover;
  flex-shrink: 0;
  border-radius: 24%;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___1D7Dy {
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.features {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-tRuaC0z_hsD9IV);
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
.features > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .features {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px + 0px) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .features > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__mFlig {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4.17em 15px 3.33em;
}
.h2__uxNh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__uxNh {
    font-size: 32px;
  }
}
.text__ypVgS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 784px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 45px;
}
.container4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  max-width: 1170px;
  padding: 0px;
}
.container4 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .container4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .container4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outerRow2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.row2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.row2 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.row2 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .row2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .row2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__eJ8TS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__dSrN {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__dSrN > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__dSrN > :global(.__wab_flex-container) > *,
.freeBox__dSrN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dSrN > :global(.__wab_flex-container) > picture > img,
.freeBox__dSrN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__dHjw {
  display: block;
  width: 40px;
  height: 4px;
  max-width: 100%;
  background: var(--token-s1eSBoT779f_dP);
  flex-shrink: 0;
}
.h3__cZi6O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__cZi6O {
    font-size: 32px;
    margin-top: calc(0px + 20px) !important;
  }
}
.text__ktpxb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0em;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__ktpxb {
    margin-top: calc(0px + 20px) !important;
  }
}
.button__rouk3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__nxabf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___0OluR {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__w2SLd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__gU0Yh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img___6Kim7 {
  object-fit: cover;
  max-width: none;
  max-height: none;
  height: 400px;
  width: 400px;
  object-position: center center;
  flex-shrink: 0;
  border-radius: 50%;
}
.img___6Kim7 > picture > img {
  object-fit: cover;
  object-position: center center;
}
.img___6Kim7 > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img___6Kim7 {
    margin-bottom: 24px;
  }
}
.container5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  max-width: 1170px;
  padding: 43px 0px 61px;
  margin: 1.67em 0em;
}
.container5 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .container5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .container5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outerRow3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.row4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.row4 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.row4 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .row4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .row4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__e0Gky {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.img___6MeDx {
  position: relative;
  object-fit: cover;
  max-width: none;
  width: 400px;
  height: 400px;
  max-height: none;
  flex-shrink: 0;
  border-radius: 50%;
}
.img___6MeDx > picture > img {
  object-fit: cover;
}
.img___6MeDx > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img___6MeDx {
    margin-bottom: 26px;
  }
}
.column__aJWhy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__x1Ql7 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__x1Ql7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__x1Ql7 > :global(.__wab_flex-container) > *,
.freeBox__x1Ql7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x1Ql7 > :global(.__wab_flex-container) > picture > img,
.freeBox__x1Ql7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox___7Zxl3 {
  display: block;
  width: 40px;
  height: 4px;
  max-width: 100%;
  background: var(--token-s1eSBoT779f_dP);
  flex-shrink: 0;
}
.h3__zfHCd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__zfHCd {
    font-size: 32px;
    margin-top: calc(0px + 20px) !important;
  }
}
.text__cn9MH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0em;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__cn9MH {
    margin-top: calc(0px + 20px) !important;
  }
}
.button__eMxIl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gpEtL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___7NDt8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.container6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  max-width: 1170px;
  padding: 0px;
}
.container6 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .container6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .container6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outerRow4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .outerRow4 {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.row3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.row3 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.row3 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .row3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .row3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__cQd2R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__xAbe {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xAbe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__xAbe > :global(.__wab_flex-container) > *,
.freeBox__xAbe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xAbe > :global(.__wab_flex-container) > picture > img,
.freeBox__xAbe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__unLg3 {
  display: block;
  width: 40px;
  height: 4px;
  max-width: 100%;
  background: var(--token-s1eSBoT779f_dP);
  flex-shrink: 0;
}
.h3__qA8J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__qA8J {
    font-size: 32px;
    margin-top: calc(0px + 20px) !important;
  }
}
.text___7JYu5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0em;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___7JYu5 {
    margin-top: calc(0px + 20px) !important;
  }
}
.button__ztlCy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__nv0Xj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__he3Pc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__z3Gk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.img__zaZr {
  position: relative;
  object-fit: cover;
  max-width: none;
  width: 400px;
  height: 400px;
  max-height: none;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__zaZr > picture > img {
  object-fit: cover;
}
.img__zaZr > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__zaZr {
    margin-bottom: 31px;
  }
}
.testimonials {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-CrgZWHKAnaUEp9);
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 4.17em 15px 3.33em;
}
.testimonials > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .testimonials {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px + 0px) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .testimonials > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__eyzxd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h2__oukYt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__oukYt {
    font-size: 32px;
  }
}
.text__mNk2R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__zJoOb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__zJoOb > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__zJoOb > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__zJoOb > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zJoOb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zJoOb > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vdGk2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 15px;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .testimonial:global(.__wab_instance) {
    margin: 0px 0px 15px;
  }
}
.column__scusx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 15px;
}
.columns__azIqs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #00000026;
  min-width: 0;
  border-radius: 0px;
  padding: 1.5em;
}
.columns__azIqs > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__azIqs {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__azIqs > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1X1Gr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__jfqkp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 100px;
  margin: 0px 0px 10px;
}
.img__jfqkp > picture > img {
  object-fit: cover;
}
.img__jfqkp > .__wab_img-spacer > img {
  object-fit: cover;
}
.h5__gEdqJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: center;
  font-weight: 700;
  color: var(--token-2sarMzxm-eqVbe);
  font-family: var(--token-EtMB1gDkbkcHcg);
  font-size: var(--token-yS-Xjd86ou9YZ5);
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__gEdqJ {
    text-align: center;
  }
}
.text___2DZg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  min-height: 120px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.column__vsEw6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 15px;
}
.columns___6YXlt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #00000026;
  min-width: 0;
  padding: 1.5em;
}
.columns___6YXlt > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___6YXlt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___6YXlt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___4Vp35 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h2__osUpx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  line-height: 0.7em;
  letter-spacing: 0px;
  color: var(--token-s1eSBoT779f_dP);
  font-size: 60px;
  min-width: 0;
}
.text__adsnM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  min-height: 120px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.columns__vcx25 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__vcx25 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
.columns__vcx25 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__vcx25 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__vcx25 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__bue2E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___1BjL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 100%;
}
.img___1BjL > picture > img {
  object-fit: cover;
}
.img___1BjL > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___0UKxz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h5__v19A6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: left;
  font-weight: 700;
  color: var(--token-2sarMzxm-eqVbe);
  font-family: var(--token-EtMB1gDkbkcHcg);
  font-size: var(--token-yS-Xjd86ou9YZ5);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__v19A6 {
    text-align: center;
  }
}
.blogPosts:global(.__wab_instance) {
  position: relative;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .blogPosts:global(.__wab_instance) {
    margin-top: calc(0px + 0px) !important;
  }
}
.ctaBlock:global(.__wab_instance) {
  position: relative;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  display: none;
}
.heroSection:global(.__wab_instance) {
  position: relative;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
